* {
   padding: 0;
   margin:0;
}

body {
   background:#333;
   font-family: Consolas;
}

h1 {
    color:white;
 }
 .text-center {
   text-align:center;
 }

 .container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
    padding:10px;
 }

 #container_todo {
    width: 90%;
    background:white;
    padding:10px;
    border-radius:5px;
    filter:drop-shadow(1px 2px 3px white);
 }

 #txtItem {
   display: block;
   margin:auto;
   padding: 8px;
   border:none;
   border-radius: 5px;
   font-weight: bold;
 }

 .btnDelete {
    width:100%;
    padding:3px;
    font-weight: bold;
    cursor: pointer;
 }